.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: 440px) {
    flex-direction: column;
  }
}

.title {
  margin-right: 2rem;
}

.button {
  @media screen and (max-width: 440px) {
    width: 100%;
  }
}
