.container {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 10lvh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 20rem;
  margin: 0 auto;
  padding: 2rem;

  color: var(--color-dark);

  background-color: var(--color-light);
  border-radius: 2rem;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  margin-top: 1rem;
}
